{% extends "base.html" %}
{% block title %}Candidate Details{% endblock %}
{% block content %}
<br>
<div class="container-fluid as-full">
 <div class="row as-flex d-flex justify-content-center">
   <div class="col-5 align-self-center" >
     <div class="card border-primary mb-3 bg-dark" style="width: 25rem;">
       <div class="card-body">
         <div class="card border-primary mb-3 bg-light" style="width: 23rem;">
           <img src="{{ obj.image.url }}" class="card-img-top" alt="Candidate Image">
           <div class="card-body">
             <table class="table table-striped table-hover">
               <tbody>
                 <tr>
                   <td><b>Name </b></td>
                   <td>{{ obj.name }}</td>
                 </tr>
                 <tr>
                   <td><b>Competing For</b></td>
                   <td>{{ obj.position }}</td>
                 </tr>
               </tbody>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>


<style>
 body{
   background: linear-gradient(45deg,#b57bee, #00e3fd);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
</style>


{% endblock %}