{% extends "base.html" %}
{% block title %}Result Page{% endblock %}
{%block content %}
<h2 class="text-center">Result</h2>
<div class="container-fluid as-full">
 <div class="row as-full d-flex justify-content-center">
   <div class="col-5 align-self-center">
     <div class="card">
       <div class="card-body">
         <table class="table table-striped table-hover">
           <thead>
             <tr>
               <th scope="col">Candidate Name</th>
               <th scope="col">Candidate Position</th>
               <th scope="col">Total Vote</th>
             </tr>
           </thead>
           <tbody>
             {% for i in obj %}
             <tr>
               <td>{{ i.name }}</td>
               <td>{{ i.position }}</td>
               <td>{{ i.total_vote }}</td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
</div>


<style>
 body {
   background: linear-gradient(45deg, #b57bee, #00e3fd);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
</style>


{% endblock %}